.language{
     background-color: #0D1117;
     /* height:max-content; */
    min-height: 100vh;

}

.language__type{
    width: 75%;
    margin: auto;
    display: flex;
     flex-wrap: wrap;
}