.searchbox{
    height: 400px;
    width: 430px;
    position: fixed;
    top: 47px;
    left: 610px;
    background-color: white;
    border: 1px solid white;
    z-index: 1500;
    overflow: scroll;
}

.searchbox::-webkit-scrollbar{
    display: none;
}

.searchbox > small{
    position:relative;
    bottom: 0px;
    right: 0px;
}

