.login{
     display: grid;
     place-content:center;
     height: 100vh;
     background-color: #0D1117;

      
}

.login > button{
    background-color: lightgray;
    border-radius: 5px !important;
}
.login > button:hover{
    box-shadow: 0px 0px 4px 1px rgb(233 113 11);
}

.login > button  img {
    margin-right: 5px;
    width: 40px;
    height: 40px;
}
.login > button:hover{
    border: 1px solid grey !important;
    color: white !important;
}